body{
    background-color: lightcoral;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    border-radius: .25rem;
    border: 1px solid transparent;
    font-size: 1rem;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
   
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  h1 {
    margin: 15 auto;
    text-align: center;
  }
  
  #ready {
    float: left;
    padding-left: 10%;
  }
  
  #devoured {
    float: right ;
    padding-right: 10%;
    
  }
  
  #add {
    padding-top: 50px;
    text-align: center;
    margin: 0, auto;
    clear: both;
    font-size: 18px;
  }
  
  img {
    padding: 25px;
    height: 350px;
  }

  label {
    font-weight: bolder;
  }

  .container {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  #burg {
    border-radius: .25rem;
    border: 1px solid transparent;
    height: 34px;
    margin: 3px;
    
  }